<div id="browse-page-wrapper">
    <app-search-controls (searchButtonClick)="handleSearch()" ></app-search-controls>
    <div class="results-container">
        <app-pokemon-search-result *ngFor="let result of resultsInView" [searchResult] = "result"></app-pokemon-search-result>
    </div>
    <app-carousel-button [orientation]="'left'" (buttonClick)="loadPreviousResultsInView()"></app-carousel-button>  <app-carousel-button [orientation]="'right'" (buttonClick)="loadNextResultsInView()"></app-carousel-button>
</div>