<div class="home-page flex-container-row-center">
        <div>
            <app-search-controls (searchButtonClick)="openBrowsePage()"></app-search-controls>
            <div>
                <h1 class="home-page-header">Welcome to PokeDirectory!</h1>
                <p class="home-page-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam cursus euismod semper. Curabitur sagittis odio eget lacus convallis vestibulum. Suspendisse eu felis in neque scelerisque varius. Quisque et aliquam ipsum. Nunc iaculis condimentum convallis. Integer quis massa a urna aliquam interdum sit amet ac velit. Morbi a euismod sem. Cras massa elit, auctor vel ornare quis, faucibus at massa. Aenean aliquam urna ac quam lobortis, eu maximus risus efficitur. Proin a orci vel felis sollicitudin auctor. Suspendisse potenti. Ut ultricies consectetur erat vel bibendum. Pellentesque sed aliquam lectus.</p>
                <p class="home-page-paragraph">Mauris scelerisque, velit et accumsan dignissim, dolor dolor euismod magna, eu sollicitudin nisi felis eget orci. Etiam et diam eget nulla egestas bibendum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed dignissim lectus eget vulputate molestie. Vivamus vel lacus facilisis, ultricies lacus sed, tristique felis. Aliquam erat volutpat. Etiam id diam sit amet sem congue maximus. Maecenas dignissim lacus quis scelerisque semper. Pellentesque sed sem placerat, congue nibh sed, fermentum urna. Nunc eu consequat diam. Sed pretium urna ac fringilla feugiat. Etiam scelerisque sodales erat sed laoreet. Nullam sit amet nisl rutrum, tempor nibh at, sodales sem. Maecenas tempus bibendum nulla non lacinia. Aliquam porta quam congue accumsan mollis. Ut quis interdum neque.</p>
            </div>
        </div>
        <app-pokemon-of-the-day></app-pokemon-of-the-day>
</div>
