@import '../../../../assets/sass/variables';
.listbox--list{
padding: 0.5rem;
list-style: none;
text-align: left;
font-size: 1.3rem;
overflow-y: scroll;
height: 10rem;
}
.listbox__list-item{
    padding: 0 0.5rem;
    cursor: pointer;
&:hover{
    background-color: $medium-black;
    color: $medium-white;
}
}