@import '../../../../assets/sass/variables';
.select-box{
    display: inline-block;
    position: relative;
    margin: 0;
}
.select-box__select{
    background-color: $medium-red;
    height: 3.2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0 3rem 0 1rem;
    color: $white;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;    
    font-weight: bold;

    
}
.select-box__caret{
    position: absolute;
    color: $dark-red;
    text-shadow: 2px 3px 8px rgba(59, 37, 17, 0.35) inset; 
    font-size: 2rem;
    right: 1rem;
    bottom: 0.7rem;


}