<div class="stat--wrapper">
    <h4 class="stat__name stat__text stat__text--bold">{{ stat.stat.name }}: </h4>
    <h4 class="stat__stat-base stat__text">{{ stat.base_stat }}</h4>
        <div class="stat__bar-container"><div [ngStyle]="getBarStyles()" class="stat__bar"></div></div>
    <div class="stat__stat-50"><h4 class="stat__text">{{this.stat.stat.name !== 'hp' ? getEstimatedStat(50): getEstimatedHealth(50)}}-</h4><h4 class="stat__text">{{this.stat.stat.name !== 'hp' ? getEstimatedStat(50,31,252) : getEstimatedHealth(50,31,252)}}</h4></div>
    <div class="stat__stat-100"><h4 class="stat__text">{{this.stat.stat.name !== 'hp' ? getEstimatedStat(100): getEstimatedHealth(100)}}-</h4><h4 class="stat__text">{{this.stat.stat.name !== 'hp' ? getEstimatedStat(100,31,252) : getEstimatedHealth(100,31,252)}}</h4></div>
</div>
