.stat--wrapper{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 7rem 4rem 10rem 6rem 6rem;
    grid-template-rows: 2.5rem;
    grid-template-areas: 
    "stat-name stat-base stat-bar stat-50 stat-100";
}
.stat__name{
    grid-area: stat-name;
    justify-self: right;
}
.stat_stat-base{
    grid-area: stat-base;
}
.stat__bar{
    height: 1.5rem;
}
.stat__bar-container{
    display: inline-block;
    width: 10rem;
    grid-area: stat-bar;
}
.stat__text{
    display: inline-block;
    font-weight: 500;
}
.stat__text--bold{
    font-weight: 900;
}
.stat__stat-50{
    grid-area: stat-50;
}
.stat__stat-100{
    grid-area: stat-100;
}