@import '../../../../../assets/sass/variables';
.pokemon-page{
}
.pokemon-page__name{
    color: $medium-red;
}
.pokemon-sprites{

}
.pokemon-sprites__title{
    
}
.pokemon-sprites__panel{
    background-color: $dark-white;
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.6);
    padding-bottom: 1rem;  
}
.pokemon-sprites__sprite{
    width: 25rem;
}
.pokemon-sprites__control-title{
    margin: 0 0 0.2rem 0;
}