@import '../../../../../assets/sass/variables';
.pokemon-page{
    margin-top: 6rem;
    max-width: 65%;
}
.pokemon-page__name{
    color: $medium-red;
}
.pokemon-sprites{

}
.pokemon-sprites__title{
    
}
.pokemon-sprites__panel{
    background-color: $dark-white;
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.6);  
}
.pokemon-sprites__sprite{
    width: 30rem;
}