<div class="pokemon-page">
    <h1 class="pokemon-page__name">{{pokemon?.name | titlecase }}</h1>
    <div class="pokemon-sprites flex-container-column-center">
        <h2 class="pokemon-sprites__title">Sprites</h2>
        <div class="pokemon-sprites__panel">
            <img class="pokemon-sprites__sprite" [src]="pokemon?.sprites.front_default">
            <div class="flex-container-row-center">
            <div class="flex-container-column-center">
                <h5>Orientation</h5>
                <app-radio-cluster [radioCluster]="orientationRadioCluster"></app-radio-cluster>
            </div>
            <div class="flex-container-column-center">
                <h5>Color</h5>
                <app-radio-cluster [radioCluster]="colorRadioCluster"></app-radio-cluster> 
            </div>
            </div>
        </div>
    </div>
    <app-moveset [inputPokemonMoves]="pokemon.moves"></app-moveset>
</div>

