@import '../../../../assets/sass/variables';
@import '../../../../assets/sass/breakpoints';
.textbox--wrapper{
    position: relative;
    margin: 0;
    max-width: 21rem;
    @media #{$medium}{
        margin: 0 0.5rem;
    }
}
.textbox__textbox {
    background-color: $dark-white;
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.4);
    border: none;
    height: 3.5rem;
    width: 100%;
    margin: 0;
    font-size: 2rem;
    padding: 0 3rem 0 1rem;
    box-sizing: border-box;
    &:focus{
        outline: none;
    }
}
.textbox__clear-button{
    position: absolute;
    right:0.8rem;
    bottom: 0.2rem;
    font-weight: 100;
    font-size: 3rem;
    cursor: pointer;
}