@import '../../../../../assets/sass/variables';
@import '../../../../../assets/sass/animations';
.pokemon-search-result{
    display: inline-block;
    border: solid 2px $medium-black;
    text-align: center;
    margin: 0.5rem;
    width: 9rem;
    height:11.8rem;
    font-weight: bold;
    cursor: pointer;
    &:hover{
        border: solid 2px $medium-red;  
    }
}
.pokemon-search-result__id{
font-size: 3rem;
margin: 0rem;
}
.pokemon-search-result__sprite{
margin: 0 auto;
height: 6rem;
width: 6rem;
}
.pokemon-search-result__name{
color: $medium-red;
font-size: 1.3rem;
margin: 0rem 0rem 0.3rem 0rem;
}