@import '../../../../../assets/sass/variables';
.pokemon-sprites{

}
.pokemon-sprites__title{
    text-align: center;
}
.pokemon-sprites__sprite{
    width: 20rem;
}
.pokemon-sprites__control-title{
    margin: 0 0 0.2rem 0;
}