@import '../../../../../assets/sass/variables';
@import '../../../../../assets/sass/breakpoints';
.pokemon-container{
    text-align: center;
    margin: 0;
    padding: 2rem 0 3rem 0;
    position: relative;
}
.pokemon-container__name{
    color: $medium-red;
    text-align: center;
    font-size: 2.5rem;
    margin:0 0 1rem 0;
    @media #{$small-medium}{
        font-size: 2rem;
    }
}
.pokemon-container__back-button-wrapper{
    position: absolute;
    display: inline-block;
    left: 5.5rem;
    @media #{$medium}{
        display: none;
    }
}
.pokemon-container__header{
    margin: 1rem 1rem 0.5rem 1rem;
    @media #{$small-medium}{
        font-size: 1.25rem;
    }
}
