<div class="pokemon-sprites panel flex-container-column-center inset-shadow-sink animation-delay-500ms">
    <div class="fade-in animation-delay-1000ms">
    <img class="pokemon-sprites__sprite" [src]="spriteInView">
    <div class="flex-container-row-center">
      <div class="flex-container-column-center">
        <h5 class="pokemon-sprites__control-title">Orientation</h5>
        <app-radio-cluster [alternateStyling]="true" [buttonNames]="orientationButtons" (radioButtonClick)="handleOrientationButtonClick($event)"></app-radio-cluster>
      </div>
      <div class="sprite-controls__control-wrapper flex-container-column-center">
        <h5 class="pokemon-sprites__control-title">Color</h5>
        <app-radio-cluster [alternateStyling]="true" [buttonNames]="colorButtons" (radioButtonClick)="handleColorButtonClick($event)"></app-radio-cluster>
      </div>
    </div>
  </div>
