@import '../../../../../assets/sass/variables';
@import '../../../../../assets/sass/animations';
.pokemon-sprites{
margin: 0 1.5rem;
}
.pokemon-sprites__title{
    text-align: center;
}
.pokemon-sprites__sprite{
    width: 20rem;
}
.pokemon-sprites__control-title{
    margin: 0 0 0.2rem 0;
}