.pokemon-type{
    margin: 0.5rem 0.4rem;
}
.pokemon-type__name{
    text-align: center;
    margin: 0;
}
.pokemon-type__name--medium{
    padding: 0.5rem 0;
    width: 7rem;
}
.pokemon-type__name--small{
    padding: 0.5rem 0;
    width: 5rem;
    font-size: 0.9rem;
}