.pokemon-type--wrapper{
    margin: 0.5rem 0.25rem;
    text-align: center;
    font-weight: bold;
}
.pokemon-type--wrapper--medium{
    padding: 0.5rem 0;
    width: 6rem;
}
.pokemon-type--wrapper--small{
    padding: 0.6rem 0.2rem;
    font-size: 0.9rem;
    width: 5rem;
}