@import '../../../../../assets/sass/variables';
@import '../../../../../assets/sass/breakpoints';
.ability__card{
    display: inline-block;
    border: 2px solid $medium-black;
    padding: 0.5rem;
    margin: 0.2rem;
    font-weight:bold;
    font-size: 0.8rem;
    white-space: nowrap;
    @media #{$small-medium}{
        font-size: small;
        padding: 0.3rem;
    }
}