.catch-location--wrapper{
    font-weight: 500;
    max-width: 22rem;
    margin: 0 0.5rem;
}
.catch-location__location-list{
    list-style: none;
    padding-left: 0;
    text-align: left;
}
.catch-location__location-item{
    padding: 0.7rem 0rem;
}
.catch-location__no-results-message{
    margin-top: 1rem;
    line-height: 1.5rem;
}
.catch-location__level-text{
    margin: 0 0.2rem;
}