@import '../assets/sass/variables.scss';

.app{
    position: relative;
    max-width: 117rem;
    margin: 1rem auto 0 auto;
    background-color: $medium-white;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
