@import '../../../../../assets/sass/variables';
.pokemon-of-the-day{
    margin: 0 1rem 1rem 1rem;
    text-align: center;
    width: 23rem;
}
.pokemon-of-the-day__title{
margin: 0rem 0rem 3rem 0rem;
}
.pokemon-of-the-day__wrapper{
    position: relative;
    margin: 1rem;
    overflow: hidden;
    border: solid 2px $medium-black;
}
.pokemon-of-the-day__id{
font-size: 3rem;
margin: 0;
padding: 0;
}
.pokemon-of-the-day__sprite-image{
width: 10rem;
}
.pokemon-of-the-day__name{
font-size: 2.5rem;
color: $medium-red;
margin-bottom: 1rem;
}
.pokemon-of-the-day__information{
    font-size: 0.9rem;
    padding: 0.2rem;
}