@import '../../../../../assets/sass/variables';
.pokemon-of-the-day{
    text-align: center;
    width: 25rem;
}
.pokemon-of-the-day__title{

}
.pokemon-of-the-day__panel{
    box-sizing: border-box;
    height: 33rem;
    background-color:$medium-gray;
    text-align: center;
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.6);
}
.pokemon-of-the-day__wrapper{
    box-sizing: border-box;
    margin: 3rem;
}
.pokemon-of-the-day__id{

}
.pokemon-of-the-day__sprite{

}
.pokemon-of-the-day__name{

}
.pokemon-of-the-day__information-height{

}
.pokemon-of-the-day__information-weight{

}