
<div class="panel pokemon-of-the-day inset-shadow-sink animation-delay-500ms">
<a (click)="openPokemonPage()" class="pokemon-of-the-day__wrapper fade-in animation-delay-1000ms">
    <span class="pokemon-of-the-day__id">#{{this.pokemonOfTheDay?.id.toString().padStart(3, '0')}}</span>
<img class="pokemon-of-the-day__sprite-image" src={{this.pokemonOfTheDay?.sprites.front_default}}>
<span class="pokemon-of-the-day__name">{{this.pokemonOfTheDay?.name | titlecase}}</span>
<div class="flex-container-row-center">
    <span class="pokemon-of-the-day__type-wrapper" *ngFor="let pokemonType of (pokemonOfTheDay?.types | reverse)"><app-pokemon-type  [typeName] = "pokemonType.type.name" [size]="'small'"></app-pokemon-type></span>
</div>
</a>
</div>
