@import '../../../../../assets/sass/variables';
@import '../../../../../assets/sass/animations';
.pokemon-of-the-day{
    margin: 0 1rem 1rem 1rem;
    text-align: center;
    max-width: 19rem;
    font-weight: bold;
}
.pokemon-of-the-day__title{
margin: 0rem;
}
.pokemon-of-the-day__wrapper{
    display: block;
    position: relative;
    margin: 1rem;
    padding: 0.5rem;
    overflow: hidden;
    border: solid 2px $medium-black;
    cursor: pointer;
    
    &:hover{
        border: solid 2px $medium-red;
    }
}
.pokemon-of-the-day__id{
font-size: 3.5rem;
margin: 0;
padding: 0;
}
.pokemon-of-the-day__sprite-image{
width: 10rem;
}
.pokemon-of-the-day__name{
font-size: 2.5rem;
color: $medium-red;
margin: 0;
}