    <nav class="navbar flex-container-row-center">
        <a class="navbar-logo--short" routerLink=''><span class="navbar__logo--poke">P</span><span class="navbar__logo--directory">D</span></a>
        <a class="navbar__logo" routerLink='' ><span class="navbar__logo--poke">Poke</span><span class="navbar__logo--directory">Directory</span></a>  
        <ul [@slide]="linksVisible ? 'true': 'false'" class="navbar__list">
            <li><a class="navbar__link" [routerLink]="['browse']" (click)="handleLinkClick()">All Pokemon</a></li>
        </ul>
        <span class="navbar__hamburger-button-wrapper"><app-icon-button [iconClasses]="hamburgerMenuIconClasses" (buttonClick)="toggleNavLinks()"></app-icon-button></span>
    </nav>
