@import '../../../../../assets/sass/variables';
@import '../../../../../assets/sass/fonts';
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 75rem;
    margin: 0 auto;
    background-color: $medium-red;
    height: 6.25rem;
    box-shadow: 0px 2px 3px rgba(75,11,24,0.9);
    position: relative;
    z-index: 2;
    
}
.navbar__logo--poke{
display: inline-block;
font-family: 'pokemon-solid', 'Montserrat';
color: $medium-yellow;
}
.navbar__logo--directory{
display: inline-block;
color: $white;
font-weight: 700;
font-style: italic;
}
.navbar__logo{
font-size: 2rem;
margin: 0 2rem;
}
.navbar__link{
margin: 0 2rem;
color: $white;
font-size: 1.75rem;
font-weight: 500;
}