@import "../../../../assets/sass/variables";
@import "../../../../assets/sass/animations";
.radio-cluster{
    margin: 1rem 1rem;
}
.radio-cluster--alternate{
    display: inline-block;
    margin: 0 0.4rem;
    border: 1px dashed #484646;
    padding: 0.1rem;
}
.radio-cluster__button{
    display: inline-block;
    color: $white;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.8rem;
    cursor: pointer;
}
.radio-cluster__button-alternate{
    display: inline-block;
    margin: 0.3rem 0.2rem;
    border: solid 2px $medium-black;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.6rem;
    cursor: pointer;
}
.radio-cluster__button--alternate-toggled{
    color: $dark-white;
    background-color: $medium-black;
}
.radio-cluster__button--alternate-untoggled{
    color: $medium-black;
    background-color: $dark-white;
    cursor: pointer;
    &:hover{
        background-color: $medium-black;
        color: $dark-white;
    }
}
.radio-cluster__button--toggled{
margin: 0 0.25rem;
box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.5);
color: darken($white, 25%);
background-color: darken($medium-red, 5%);
}
.radio-cluster__button--untoggled{
margin: 0 0.25rem 0.3rem 0.25rem;
background-color: $medium-red;
}