<div class="home-container">
    <app-search-controls></app-search-controls>
    <span class="home-container__greeting">Welcome to PokeDirectory!</span>
        <main class="flex-container-row-start">
            <div>
                <p class="home-container__paragraph">Built upon the RESTful PokeAPI, this app has access to a myriad of information on the Pokemon games. New features are constantly being added so be sure to stop by and check them out.</p>
                <div class="flex-container-row-start">
                <div>
                    <h3 class="home-container__list-title">Whats New</h3>
                    <ul class="home-container__list">
                        <li class="home-container__list-item" *ngFor="let newFeature of newFeatureList">{{ newFeature }}</li>
                    </ul>
                </div>
                <div>
                    <h3 class="home-container__list-title">Coming Soon</h3>
                    <ul class="home-container__list">
                        <li class="home-container__list-item" *ngFor="let upcomingFeature of upcomingFeatureList">{{ upcomingFeature }}</li>
                    </ul>
                </div>
                </div>
            </div>
            <aside class="flex-container-column-center">
            <h2>Pokemon Of The Day</h2>    
            <app-pokemon-of-the-day></app-pokemon-of-the-day>
            </aside>
        </main>
</div>
