.home-page{
    padding: 5rem;
    align-items: flex-start;
}
.home-page-header{
text-align: center;
padding-right: 5rem;
margin: 3rem 0rem;
}
.home-page-paragraph{
padding-right: 5rem;
line-height: 2rem;
width: 65rem;
}