@import './assets/sass/variables.scss';
* {
    font-family: 'Montserrat', sans-serif;

}
html{
    font-size: 16px;
}
body{
    background-color: 	$medium-white;
}
.results-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
div, p, h1, h2, h3, h4, h5, h6 {
    color: $medium-black;
}
.flex-container-row-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
}
.flex-container-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.panel{
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.6);
    background-color:$dark-white;
    padding: 1rem;
    overflow: hidden;
}
.textbox {
    display: inline-block;
    background-color: $dark-white;
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.4);
    height: 3.2rem;
    width: 24rem;
    margin: 0;
    font-size: 2rem;
    padding: 0 1rem;
}