@import './assets/sass/variables.scss';
* {
    margin: auto auto;
    font-family: 'Montserrat', sans-serif;

}
body{
    background-color: 	$medium-white;
}
.results-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

