.browse-page{
    margin-top: 6rem;
}
.search-results--panel{
    margin: 2rem auto;
    width: 51.5rem;
    height: 42rem;
}
.search-results__container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 51.5rem;
    max-height: 39rem;
    margin: 0 auto;
}