<div class="pokemon-info flex-container-column-center panel inset-shadow-sink animation-delay-500ms">
    <ul class="pokemon-info__info-list animation-delay-1000ms fade-in">
        <li><span class="bold-text">Id: </span><span class="pokemon-info__text">#{{pokemon?.id?.toString().padStart(3, '0')}}</span></li>
        <li><span class="bold-text">Height: </span><span class="pokemon-info__text">{{(pokemon?.height * 0.1).toFixed(1)}}m ({{(pokemon?.height * 0.328084).toFixed(1)}}ft)</span></li>
        <li><span  class="bold-text">Weight: </span><span class="pokemon-info__text">{{(pokemon?.weight * 0.1).toFixed(1)}}kg ({{(pokemon?.weight * 0.220462).toFixed(1)}}lbs)</span></li>
        <li><span class="bold-text">Order: </span><span class="pokemon-info__text">{{pokemon?.order}}</span></li>
    </ul>
    <div class="pokemon-info__type-wrapper animation-delay-1000ms fade-in">
                <app-pokemon-type [class]="'pokemon-info__type' + (typeIndex + 1).toString()" *ngFor="let pokemonType of (pokemon?.types | reverse); let typeIndex = index" [size]="'small'" [typeName]="pokemonType.type.name"></app-pokemon-type>
    </div>
    <div class="pokemon-info__abilities-wrapper">
            <div class="pokemon-info__abilities flex-container-column-center"><h4 class="pokemon-info__abilities-title pokemon-info__text--bold">Abilities</h4><app-ability *ngFor="let ability of abilities" [pokemonAbility]="ability"></app-ability></div>
            <div class="pokemon-info__hidden-abilities flex-container-column-center"><h4 class="pokemon-info__abilities-title pokemon-info__text--bold">Hidden Abilities</h4><app-ability *ngFor="let hiddenAbility of hiddenAbilities" [pokemonAbility]="hiddenAbility"></app-ability></div>
    </div>
</div>
