@import '../../../../../assets/sass/animations';
.pokemon-info{
    margin: 0 1.5rem 1.5rem 1.5rem;
    width: 33rem;
    justify-content: space-evenly;
}
.pokemon-info__ability-type-wrapper{
    display: grid;
    justify-items: center;
    align-items: flex-start;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "type1 type2"
    "hidden-abilities abilities";
}
.pokemon-info__info-list{
    list-style: none;
    padding-left: 0;
}
.pokemon-info__type-1{
grid-area: type1;
}
.pokemon-info__type-2{
grid-area: type2;
}
.pokemon-info__abilities{
    grid-area: abilities;
}
.pokemon-info__hidden-abilities{
grid-area: hidden-abilities;    
}
.pokemon-info__text{
    font-weight: 500;
    display: inline-block;
    margin: 0.5rem 0.2rem;
}
.pokemon-info__text--bold{
    font-weight: 900;
    display: inline-block;
    margin: 0.5rem 0.2rem;
}