<div class="pokemon-info flex-container-column-center panel inset-shadow-sink animation-delay-500ms">
<div>    
    <ul class="pokemon-info__info-list animation-delay-1000ms fade-in">
        <li class="pokemon-info__list-item"><span class="bold-text">Id: </span><span class="pokemon-info__list-value">#{{pokemon?.id?.toString().padStart(3, '0')}}</span></li>
        <li class="pokemon-info__list-item"><span class="bold-text">Height: </span><span class="pokemon-info__list-value">{{(pokemon?.height * 0.1).toFixed(1)}}m ({{(pokemon?.height * 0.328084).toFixed(1)}}ft)</span></li>
        <li class="pokemon-info__list-item"><span  class="bold-text">Weight: </span><span class="pokemon-info__list-value">{{(pokemon?.weight * 0.1).toFixed(1)}}kg ({{(pokemon?.weight * 0.220462).toFixed(1)}}lbs)</span></li>
        <li class="pokemon-info__list-item"><span class="bold-text">Order: </span><span class="pokemon-info__list-value">{{pokemon?.order}}</span></li>
    </ul>
    <div class="pokemon-info__type-wrapper animation-delay-1000ms fade-in">
                <app-pokemon-type [class]="'pokemon-info__type' + (typeIndex + 1).toString()" *ngFor="let pokemonType of (pokemon?.types | reverse); let typeIndex = index" [size]="'small'" [typeName]="pokemonType.type.name"></app-pokemon-type>
    </div>
</div>
    <div class="pokemon-info__abilities-wrapper animation-delay-1000ms fade-in">
            <div>
                <h4 class="pokemon-info__abilities-title bold-text">Abilities</h4>
                <ul class="pokemon-info__abilities-list">
                    <li *ngIf="abilities?.length === 0" class="pokemon-info__list-item">No Abilities</li>
                    <li class="pokemon-info__list-item underline-text" *ngFor="let ability of abilities" >{{ability.ability.name | titlecase}}</li>
                </ul>
            </div>
            <div>
                <h4 class="pokemon-info__abilities-title bold-text">Hidden Abilities</h4>
                <ul class="pokemon-info__abilities-list">
                    <li *ngIf="hiddenAbilities?.length === 0" class="pokemon-info__list-item">No Hidden Abilities</li>
                    <li class="pokemon-info__list-item underline-text" *ngFor="let hiddenAbility of hiddenAbilities">{{hiddenAbility.ability.name | titlecase}}</li>
                </ul>
            </div>
    </div>
</div>
