@import '../../../../../assets/sass/animations';
@import '../../../../../assets/sass/breakpoints';
.pokemon-info{
    max-width: 22rem;
    margin: 0 0.5rem;
    font-weight: 500;
    @media #{$small-medium}{
        font-size: small;
    }
}
.pokemon-info__type-wrapper{
    margin: 1.3rem 0rem;
    display: grid;
    justify-items: center;
    align-items: flex-start;
    grid-template-columns: 5rem 5rem;
    grid-gap: 0.5rem;
    grid-template-rows: auto;
    @media #{$small-medium}{
        grid-template-columns: 3rem 3rem;
        margin: 1rem 0rem;  
    }
}
.pokemon-info__abilities-wrapper{
    display: grid;
    align-items: flex-start;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 1rem;
    margin: 0.5rem 0rem;
}
.pokemon-info__info-list{
    text-align: left;
    list-style: none;
    padding-left: 0;
    margin: 0;
    white-space: nowrap;
}
.pokemon-info__type-1{
grid-area: type1;
}
.pokemon-info__type-2{
grid-area: type2;
}
.pokemon-info__abilities-title{
    margin: 0;
    white-space: nowrap;
    text-align: left;
}
.pokemon-info__list-value{
    display: inline-block;
    margin: 0 0.2rem;
}
.pokemon-info__list-item{
    margin: 0.5rem 0;
}
.pokemon-info__abilities-list{
    text-align: left;
    list-style: none;
    padding-left: 0;
    margin: 0;
}