@import '../../../../../assets/sass/animations';
.browse-page{
    margin: 6rem 0 4rem 0;
}
.search-results__panel{
    margin: 2rem 1rem;
    width: 51.5rem;
    height: 42rem;
}
.search-results__container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 51.5rem;
    max-height: 39rem;
    margin: 0 auto;
}