<div class="browse-page">
    <div class="flex-container-row-center">
        <app-search-controls></app-search-controls>
        <app-radio-cluster *ngIf="(listToSearch$ | async) === 'Pokemon' " [radioCluster]="pokemonSortingButtons" (radioButtonClick)="handlePokemonSort($event)"></app-radio-cluster>
    </div >
        <div class="search-results--panel panel flex-container-column-center">
            <div class="search-results__container">
            <app-pokemon-search-result *ngFor="let result of resultsInView$ | async | slice:(startOffset$ | async):(endOffset$ | async)" [searchResult] = "result"></app-pokemon-search-result>
            </div>
            <app-page-indicator [currentPage]="currentPage$ | async" [totalPages]="totalPages$ | async"></app-page-indicator>
        </div>
        <app-carousel-button [orientation]="'left'" (buttonClick)="loadPreviousPage()"></app-carousel-button>  <app-carousel-button [orientation]="'right'" (buttonClick)="loadNextPage()"></app-carousel-button>
    </div>