@import '../../../../../assets/sass/animations';
@import '../../../../../assets/sass/breakpoints';
.browse-page{
    padding: 2rem 4rem 4rem 4rem;
    @media #{$medium}{
        padding: 2rem 0.5rem 4rem 0.5rem;
    }
}
.search-results--wrapper{
    flex-wrap: nowrap;
}
.search-results__panel{
    margin: 2rem 1rem;
    width: 100%;
    min-height: 30rem;
    box-sizing: border-box;
    @media #{$medium}{
        margin: 0.05rem 0rem 0.5rem 0rem; 
    }
}
.search-results__container{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    margin: 0 auto;
    width: 100%;
    @media #{$small}{
        grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
    }
}