$medium-red: #B10F2E;
$dark-red: #9A0C27;
$light-white: #FFFFFF;
$medium-white: #EEEEEE;
$dark-white: #E9E9E9;
$medium-gray: #C4C4C4;
$dark-gray: #9F9F9F;
$medium-black: #484646;
$medium-yellow: #F9C200;   