$medium-red: #B10F2E;
$dark-red: #9A0C27;
$white: #FFFFFF;
$medium-white: #EEEEEE;
$dark-white: #E9E9E9;
$medium-gray: #C4C4C4;
$dark-gray: #9F9F9F;
$medium-black: #484646;
$medium-yellow: #F9C200;     
:export{
    medium-red: $medium-red;
    dark-red: $dark-red;
    white: $white;
    medium-white: $medium-white;
    dark-white: $dark-white;
    medium-gray: $medium-gray;
    dark-gray: $medium-gray;
    medium-black: $medium-black;
    medium-yellow: $medium-yellow;       

}